<body>
                {{!-- {{#each partner}}
    <div class="col-12" >
        <div class="col-12" id="information">
            <h1>CONTACT US</h1>
            <div>
                <h1>SPLASH</h1>
                <p>
                   {{partner.adress.street}}<br>
                     {{partner.adress.neighborhood}}<br>
                     {{partner.adress.city}}<br>
                     {{partner.adress.state}}<br>
                     {{partner.adress.zip}}<br>
                     {{partner.adress.country}}<br>
                   
                     
                  
                   
                    Calle Rosas No.209A <br>
                    Col. Las flores <br>
                    Aguascalientes, Ags. CP.20220
                </p>
            </div>
            <div>
                <i class="fa-solid fa-head-side-headphones"></i>
                 {{partner.adress.phone}}<br>
                <p>+52 3333994271</p>
                <i class="fa-solid fa-envelope"></i>
              {{partner.adress.email}}<br>
                <p>
                    <a href="mailto:{{partner.adress.email}}">{{partner.adress.email}}</a>
                </p>
                <a href="mailto:emma.ruso@gmail.com">
            </div>
            <div>
                <i class="fa-solid fa-location-dot"></i>
            </div>
        </div>
        <div id="form">
            <form action="#" method="post">
                <div>
                    <div class="col">
                        <label for="name">Name</label>
                        <input type="text" name="{{user.name}}" id="name" placeholder="Name">
                        <label for="email">Email</label>
                        <input type="email" name="{{user.email}}" id="email" placeholder="Email">
                    </div>
                    <div class="col">
                        <label for="password">Password</label>
                        <input type="password" name="{{user.password}}" id="password" placeholder="Password">
                        <label for="Phone">Phone</label>
                        <input type="text" name="{{user.phone}}" id="phone" placeholder="Phone">
                    </div>
                </div>
                <div class="message">
                    <label for="message">Message</label>
                    <textarea name="{{user.message}}" id="message" cols="30" rows="10"></textarea>
                </div>
                <div class="btn">
                    <button type="submit">Send Message</button>
                </div>
            </form>
        </div>
        <div class="locate">
            <div id="map">

            </div>
            <div class="social-media">
                <div class="social-media-icons">
                    <i class="fa-solid fa-facebook-square"></i>
                    <i class="fa-solid fa-twitter-square"></i>
                    <i class="fa-solid fa-instagram"></i>
                    <i class="fa-solid fa-youtube-square"></i>
                </div>
            </div>

        </div>
        {{/each}}
    </div> --}}
    <h1>Hola</h1>
</body>