<h1>Actualizar datos</h1>
<form action="/partner/edit/{{partner._id}}" method="post">
    <label for="name">Nombre de su negocio</label>
    <input type="text" name="name" value="{{partner.name}}"></input><br>
    <label for="email">Email</label>
    <input type="email" name="email" value="{{partner.email}}"></input><br>
    <label for="phone_number">Teléfono</label>
    <input type="number" name="phone_number" value="{{partner.phone_number}}"></input><br>
    <label for="address">Dirección</label>
    <input type="text" name="address" value="{{partner.address}}"></input><br>
    
    <label for="password">Contraseña</label>
    <input type="password" name="password" value="{{partner.password}}"></input><br>
    <button type="submit">Guardar cambios</button>
</form>