<h1>Actualizar datos</h1>



<form action="/partner/editPartner/{{_id}}" method="post" enctype="multipart/form-data">
    <label for="name">Foto</label>
    <input type="file" name="profile_pic" value="{{partner.profile_pic}}"></input><br>
    <label for="name">Nombre de su negocio</label>
    <input type="text" name="name" value="{{partner.name}}"></input><br>
    <label for="email">Email</label>
    <input type="email" name="email" value="{{partner.email}}"></input><br>
    <label for="phone_number">Teléfono</label>
    <input type="number" name="phone_number" value="{{partner.phone_number}}"></input><br>
    <label for="address">Dirección</label>
    <input type="text" name="address" value="{{partner.address}}"></input><br>
    
    <button type="submit">Guardar cambios</button>
</form> --}}



<div class="loginContainer">
<form action="/partner/editPartner/{{_id}}" method="POST">

<div class="edit-page">
  <div class="form">
    <form class="register-form">
      <label for="partner_photo">Foto</label>
    <input type="text" name="partner_photo" value="{{partner.partner_photo}}"></input><br>
      <label for="name">Nombre de su negocio</label>
      <input type="text" name="name" value="{{partner.name}}"></input><br>
      <label for="email">Email</label>
      <input type="email" name="email" value="{{partner.email}}"></input><br>
      <label for="phone_number">Teléfono</label>
      <input type="number" name="phone_number" value="{{partner.phone_number}}"></input><br>
      <label for="address">Dirección</label>
      <input type="text" name="address" value="{{partner.address}}"></input><br>
      <label for="address">Horario</label>
      <input type="text" name="address" value="{{partner.open_hours}}"></input><br>
      <button>Editar</button>
    </form>
