
<div class="containerProfile">

<div class="card partnerCard" style="width: 18rem;">
  <div class="partimg">
    <img src="{{partner.partner_photo}}" class="card-img-top" alt="...">
  </div>

  <div class="card-body ">
    <p class="card-text">{{partner.email}}</p>
    <ul>
      <li>{{partner.name}}</li>
      <li>{{partner.phone_number}}</li>
      <li>{{partner.address}}</li>
    </ul>

    <a href="/product/create">Agregar Servicios</a>
  <a href="/partner/editPartner/{{partner._id}}">Editar Perfil</a>
  <button>
    <a href="/partner/dashboard/">Ir al Dashboard</a>
  </button>
  </div>
  
</div>
<div class="listContainer">
<ul>
  {{#each product}}
  <li>hola mundo</li>
    <a href="/product/{{_id}}">{{name}}</a>
  {{/each}}
</ul>  



</div>






</div>